helper/chat-context/n8n_workflow_examples.json
{
  "version": "1.0",
  "description": "Curated n8n workflow examples from easy to advanced for chat-context and import adaptation.",
  "examples": [
    {
      "level": "easy",
      "name": "Webhook Echo API",
      "goal": "Receive a JSON payload and return normalized response",
      "n8n_export": {
        "name": "Example - Webhook Echo API",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "echo-api",
              "responseMode": "responseNode"
            },
            "id": "Webhook_1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [260, 260]
          },
          {
            "parameters": {
              "assignments": {
                "assignments": [
                  { "name": "ok", "type": "boolean", "value": true },
                  { "name": "receivedAt", "type": "string", "value": "={{$now}}" },
                  { "name": "payload", "type": "object", "value": "={{$json.body}}" }
                ]
              }
            },
            "id": "Set_1",
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [520, 260]
          },
          {
            "parameters": {
              "respondWith": "json",
              "responseBody": "={{$json}}",
              "options": { "responseCode": 200 }
            },
            "id": "Respond_1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.3,
            "position": [780, 260]
          }
        ],
        "connections": {
          "Webhook": { "main": [[{ "node": "Normalize Payload", "type": "main", "index": 0 }]] },
          "Normalize Payload": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
        }
      }
    },
    {
      "level": "easy-medium",
      "name": "Scheduled Health Check to Slack",
      "goal": "Check API endpoint every 10 minutes and alert on failure",
      "n8n_export": {
        "name": "Example - Scheduled Health Check",
        "nodes": [
          {
            "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 10 }] } },
            "id": "Schedule_1",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [240, 260]
          },
          {
            "parameters": { "url": "https://tu.lan/health", "options": { "timeout": 10000 } },
            "id": "Http_1",
            "name": "HTTP Health Check",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [500, 260]
          },
          {
            "parameters": {
              "conditions": {
                "number": [{ "value1": "={{$json.statusCode || 200}}", "operation": "largerEqual", "value2": 400 }]
              }
            },
            "id": "If_1",
            "name": "Is Failure?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [760, 260]
          },
          {
            "parameters": {
              "text": "Health check failed at {{$now}}. Response: {{$json.body || 'n/a'}}",
              "channel": "#alerts"
            },
            "id": "Slack_1",
            "name": "Slack Alert",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [1020, 180]
          }
        ],
        "connections": {
          "Schedule Trigger": { "main": [[{ "node": "HTTP Health Check", "type": "main", "index": 0 }]] },
          "HTTP Health Check": { "main": [[{ "node": "Is Failure?", "type": "main", "index": 0 }]] },
          "Is Failure?": { "main": [[{ "node": "Slack Alert", "type": "main", "index": 0 }], []] }
        }
      }
    },
    {
      "level": "medium-hard",
      "name": "AI Ticket Triage",
      "goal": "Classify incoming tickets and route to channel by class",
      "notes": [
        "Swap AI node/provider to your available model credentials.",
        "Keep confidence threshold and manual fallback queue."
      ],
      "n8n_export": {
        "name": "Example - AI Ticket Triage",
        "nodes": [
          {
            "parameters": { "httpMethod": "POST", "path": "ticket-intake" },
            "id": "Webhook_2",
            "name": "Ticket Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [240, 320]
          },
          {
            "parameters": {
              "jsCode": "const text = $json.body?.message || ''; return [{ json: { text, ticketId: $json.body?.id || $execution.id } }];"
            },
            "id": "Code_1",
            "name": "Normalize Ticket",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [500, 320]
          },
          {
            "parameters": {
              "jsCode": "const t = ($json.text||'').toLowerCase(); let cls='general'; if (t.includes('invoice')||t.includes('billing')) cls='billing'; else if (t.includes('bug')||t.includes('error')) cls='bug'; else if (t.includes('feature')) cls='feature'; return [{json:{...$json, classification: cls, confidence: 0.8}}];"
            },
            "id": "Code_2",
            "name": "Classify Ticket",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [760, 320]
          },
          {
            "parameters": {
              "rules": {
                "values": [
                  { "conditions": { "options": { "caseSensitive": false }, "conditions": [{ "leftValue": "={{$json.classification}}", "operator": { "type": "string", "operation": "equals" }, "rightValue": "billing" }] } },
                  { "conditions": { "options": { "caseSensitive": false }, "conditions": [{ "leftValue": "={{$json.classification}}", "operator": { "type": "string", "operation": "equals" }, "rightValue": "bug" }] } }
                ]
              }
            },
            "id": "Switch_1",
            "name": "Route by Class",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [1020, 320]
          },
          {
            "parameters": { "text": "Billing ticket {{$json.ticketId}}: {{$json.text}}", "channel": "#billing-triage" },
            "id": "Slack_2",
            "name": "Notify Billing",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [1280, 220]
          },
          {
            "parameters": { "text": "Bug ticket {{$json.ticketId}}: {{$json.text}}", "channel": "#bug-triage" },
            "id": "Slack_3",
            "name": "Notify Engineering",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [1280, 320]
          },
          {
            "parameters": { "text": "General ticket {{$json.ticketId}}: {{$json.text}}", "channel": "#support-general" },
            "id": "Slack_4",
            "name": "Notify Support",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [1280, 420]
          }
        ],
        "connections": {
          "Ticket Webhook": { "main": [[{ "node": "Normalize Ticket", "type": "main", "index": 0 }]] },
          "Normalize Ticket": { "main": [[{ "node": "Classify Ticket", "type": "main", "index": 0 }]] },
          "Classify Ticket": { "main": [[{ "node": "Route by Class", "type": "main", "index": 0 }]] },
          "Route by Class": {
            "main": [
              [{ "node": "Notify Billing", "type": "main", "index": 0 }],
              [{ "node": "Notify Engineering", "type": "main", "index": 0 }],
              [{ "node": "Notify Support", "type": "main", "index": 0 }]
            ]
          }
        }
      }
    },
    {
      "level": "advanced",
      "name": "Batch Enrichment with Retry and Summary",
      "goal": "Process many items in chunks, call external API with backoff, and report outcomes",
      "pattern": [
        "Schedule Trigger",
        "Fetch queue",
        "Split In Batches",
        "HTTP Request with retry",
        "IF success/failure",
        "Aggregate counters",
        "Slack summary"
      ],
      "implementation_notes": [
        "Use deterministic item IDs to prevent duplicates.",
        "Persist progress in external DB for crash recovery.",
        "Use Wait node or backoff in Code node for rate limits.",
        "Add dead-letter storage for failed records."
      ]
    }
  ]
}
